
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a3f9ff;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #e58bfd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.me{
  width: 270px;
  height: 270px;
  padding: 80px;
}